.container{
    height: 35rem;
    margin: 3rem 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: var(--primary-white);
}
.text{
    width: 45%;
    height: 100%;
    color: var(--primary-black);
    padding: 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5rem;
}
.figure{
    width: 55%;
    height: 100%;
}

/******************
* TABLET QUERIES *
******************/
@media screen and (max-width: 900px) and (min-width: 601px) {
    .container{
        height: max-content;
        flex-flow: column-reverse nowrap;
    }
    .text{
        width: 100%;
        padding: 3rem;
        align-items: center;
    }
    .figure{
        width: 100%;
        height: 30rem;
    }   
}

/******************
* MOBILE QUERIES *
******************/
@media screen and (max-width: 600px) {
    .container{
        height: max-content;
        flex-flow: column-reverse nowrap;
    }
    .text{
        width: 100%;
        padding: 3rem;
        align-items: center;
    }
    .figure{
        width: 100%;
        height: 30rem;
    }   
}