/***************
* FOOTER *
***************/
footer{
    width: 100%;
    height: max-content;
    padding: 5rem 2rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--primary-black);
}


/***************
* FOOTER LINKS *
***************/
.footer__links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.footer__links__ul{
    display: flex;
    flex-flow: row wrap;
    column-gap: 5rem;
}
.footer__links__submenu{
    list-style: none;
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

/***************
* FOOTER CONTACT *
***************/
.footer__contact{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.footer__title{
    color: var(--primary-white);
}
.footer__contact__ul{
    width: max-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.footer__contact__title{
    margin-bottom: 0rem;
    font-size: 1.8rem;
    font-weight: 600;
}

/***************
* FOOTER ADDRESS *
***************/
.footer__address{
    padding: 5rem 0 0rem;
    text-align: center;
    color: var(--primary-white);
}


/***************
* TABLET QUERIES *
***************/
@media screen and (min-width: 601px) and (max-width: 900px) {
    .footer__links{
        padding-bottom: 3rem;
    }
    .footer__links__ul{
        column-gap: 5rem;
        display: flex;
        justify-content: center;
        row-gap: 3rem;
    }
    .footer__title{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 2rem;
        border-bottom: none;
        border-right: 2px solid var(--primary-white);    
    }
    .footer__address{
        grid-column: 1;
        grid-row: 3;
    }
}

/***************
* MOBILE QUERIES *
***************/
@media screen and (max-width: 600px) {
    .footer__links{
        padding-bottom: 0rem;
        margin-bottom: 1rem;
        align-items: center;
    }
    .footer__links__ul{
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, max-content);
        row-gap: 4rem;
    }
    .footer__address{
        margin: 0rem 0 0;
    }
}